---
---
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

html[data-mode="dark"] {
  color-scheme: dark;
  --main-bg: rgb(27, 27, 30);
  --mask-bg: rgb(68, 69, 70);
  --main-border-color: rgb(44, 45, 45);
  --text-color: rgb(175, 176, 177);
  --text-muted-color: #868686;
  --text-muted-highlight-color: #aeaeae;
  --heading-color: #cccccc;
  --label-color: #a7a7a7;
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: #868686;
  --link-color: rgb(138, 180, 248);
  --link-underline-color: #f3f3f3;
  --button-bg: #1e1e1e;
  --btn-border-color: #2e2f31;
}

html:not([data-mode]),
html[data-mode="light"] {
  --main-bg: white;
  --mask-bg: #c1c3c5;
  --main-border-color: #f3f3f3;
  --text-color: #34343c;
  --text-muted-color: #757575;
  --text-muted-highlight-color: inherit;
  --heading-color: #2a2a2a;
  --label-color: #585858;
  --blockquote-border-color: #eeeeee;
  --blockquote-text-color: #757575;
  --link-color: #0056b2;
  --link-underline-color: #1d1d1d;
}

@keyframes bottomToTop {
  from {
    transform: translateY(5%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.landing-page {
  text-align: left;
  padding: 50px 0;
  margin-left: 0;
  animation: bottomToTop 1s ease-out;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  vertical-align: middle;
  animation: bottomToTop 1s ease-out;
}

.profile-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  animation: bottomToTop 1s ease-out;
}

.name {
  font-size: 2.5em;
  font-weight: bold;
  animation: bottomToTop 1s ease-out;
}

.title {
  font-size: 1.5em;
  color: gray;
  animation: bottomToTop 1s ease-out;
}

.social-links {
  margin-top: 10px;
  animation: bottomToTop 1s ease-out;
}

.social-links a {
  margin: 0 10px 0 0;
  font-size: 1.5em;
  /* color: black; */
}

.description {
  margin: 20px 0;
  font-size: 1.2em;
  color: gray;
  animation: bottomToTop 1s ease-out;
}

.buttons {
  animation: bottomToTop 1s ease-out;
}

.buttons a {
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  /* color: initial; */
  font-size: 1.2em;
  font-weight: 600;
}

.read-blog {
  background-color: #1e90ff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  color: white;
}

.read-blog:hover {
  background-color: #ff0000;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  color: green;
}

.about-me {
  background: 0 0;
  color: #1e90ff !important;
  border: 1px solid #1e90ff;
}

.project{
  border: 1px solid #1e90ff;
}

.page-title {
  display: none;
}

footer {
  display: none;
}